@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme inline {
  --color-background: #edf8fc;
  --color-foreground: #183748;
  --color-card: #ffffff;
  --color-card-foreground: #183748;
  --color-primary: #67bfe8;
  --color-primary-foreground: #f7fdff;
  --color-muted: #dceff5;
  --color-muted-foreground: #648496;
  --color-border: #c8e1eb;
}
