@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme inline {
  --color-background: #f3f4f6;
  --color-foreground: #111827;
  --color-card: #ffffff;
  --color-card-foreground: #111827;
  --color-primary: #111827;
  --color-primary-foreground: #f9fafb;
  --color-muted: #e5e7eb;
  --color-muted-foreground: #6b7280;
  --color-border: #d1d5db;
}
